:root {
    --accent: #F5D2C9;
    --cellStroke: #d6edf5;
    --cellColor: #A89E82;
    --bg: #F5E9C9;
    --text: #A88A82;
}

body {
    /*margin: 0;*/
    /*padding: 1em;*/
    background-color: var(--bg);
    color: var(--text);
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1  {
    margin: 0;
    font-size: 2em;
}

#rollOutput {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    padding: 1em;
}
.optionContainer {
    width: 100vw;
    display: flex;
    justify-content: space-around;
}