:root {
    --accent: #F5D2C9;
    --cellStroke: #d6edf5;
    --cellColor: #A89E82;
    --bg: #F5E9C9;
    --text: #A88A82;
}

body {
    margin: 0;
    background-color: var(--bg);
}
#container {
    height: 100vh;
    display: flex;
    background-color: var(--bg);
    flex-direction: column;
    justify-content: center;
    margin: 0 1em;
}