:root {
    --accent: #F5D2C9;
    --cellStroke: #d6edf5;
    --cellColor: #A89E82;
    --bg: #F5E9C9;
    --text: #A88A82;
}
body {
    /*display: flex;*/
    /*align-items: center;*/
    /*display: flex;*/
    /*flex-display: column;*/
    /*justify-content: stretch;*/
    /*align-items: stretch;*/
    /*flex-grow: 1;*/
    /*flex-shrink: 0;*/


    background-color: var(--bg);
}

/*display: flex;*/
/*flex-display: column;*/
/*justify-content: center;*/
/*align-items: center;*/
/*flex-grow: 1;*/
/*flex-shrink: 0;*/

#container {
    /*height: 100vh;*/
    /*max-height: 100%;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*flex-grow: 1;*/
    /*display: flex;*/
    /*flex-display: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*flex-grow: 1;*/
    /*flex-shrink: 0;*/

    padding: .5em;
    background-color: var(--bg);
}
.row-container {
    /*display: flex;*/
    /*something here...*/
    /*align-self: stretch;*/
    /*flex-grow: 1;*/

    display: flex;
    flex-display: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;

    color: red;
    background-color: var(--bg);
}
.grid-item {
    aspect-ratio: 1/1;
    display: flex;
    /*flex-display: column;*/
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;

    background-color: var(--cellColor);
    border: 2px solid var(--bg);
    border-radius: .25em;
    padding: 0;
}
.grid-item:hover {
    background-color: var(--accent);

}
.grid-item:active {
    background-color: var(--accent);
    border: 2px solid var(--accent);
    /*box-sizing: border-box;*/
    box-shadow: var(--cellColor) 0em 0em .5em .125em;
    scale: 1.1;
}
.grid-item.grid-selected {
    background-color: var(--text);
    border: 2px solid var(--text);
    /*box-sizing: border-box;*/
    box-shadow: var(--cellColor) 0em 0em .5em .125em;
    /*scale: 1.1;*/
}
