:root {
    --accent: #F5D2C9;
    --cellStroke: #d6edf5;
    --cellColor: #A89E82;
    --bg: #F5E9C9;
    --text: #A88A82;
}
body {
    margin: 0;
    background-color: var(--bg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#container {
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    background-color: var(--bg);
    padding: .5em;
}
.row-container {
    background-color: var(--bg);
    display: flex;
    color: red;
}
.grid-item {
    color: red;
    background-color: var(--cellColor);
    border: 2px solid var(--bg);
    border-radius: .25em;
    flex-grow: 1;
    aspect-ratio: 1/1;
}

.grid-item:hover {
    background-color: var(--accent);

}
.grid-item:active {
    background-color: var(--accent);
    border: 2px solid var(--accent);
    /*box-sizing: border-box;*/
    box-shadow: var(--cellColor) 0em 0em .5em .125em;
    scale: 1.1;
}