body {
    margin: 0;
}
#container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
}
.row-container {
    width: 100%;
    /*border: 2px solid black;*/
    /*background-color: lightskyblue;*/
    box-sizing: border-box;

    /*troubleshooting*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex-grow: 1;*/
    color: red;
}
.grid-item {
    color: red;
    background-color: lightskyblue;

    /*width: 100%;*/
    flex-grow: 1;
    aspect-ratio: 1/1;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}